<%= form_with(model: travel, local: true) do |form| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_field :from, id: :travel_from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to, id: :travel_to %>
  </div>

  <div class="field">
    <%= form.label :datefrom %>
    <%= form.date_select :datefrom, id: :travel_datefrom %>
  </div>

  <div class="field">
    <%= form.label :dateto %>
    <%= form.date_select :dateto, id: :travel_dateto %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :travel_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
